
.App {
  text-align: center;
}
html, body, #root {
  height: 100%;
  margin: 0;
}

.landing-page {
  height: 100%;
  width:100%;
  display: flex;
  flex-direction: column;
}
nav{
display: flex;
align-items: center;
justify-content:space-between ;
background: #5f618f;
padding: 20px 80px;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
width:100%;

}
#navbar{
  display: flex;
  align-items: center;
  justify-content: center;

}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a{
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: antiquewhite;
}
#navbar li a:hover{
  color: #61dafb;
}
#BackGrnd {
  position: relative;
  width: 2100px ;
  padding: 250px;
  display: block;

}
.primary-heading{
  text-align:right;
  font-size :70px;
  padding: 50px;
  font-weight:500;
  letter-spacing: 2px;
  line-height: 60px; 
  margin:60px 100px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
